In [7]:
# Importing The Data
import pandas as pd
MD_Agric_df = pd.read_csv('https://raw.githubusercontent.com/JackronyK/Python/main/Exam/Main%20Exam/MD_agric_exam-4313.csv')

In [8]:
MD_Agric_df.head()

,Field_ID,Elevation,Rainfall,Min_temperature_C,Max_temperature_C,pH,Pollution_level,Plot_size,Annual_yield,Crop_type
0,1162,494.95615,1507.6,-5.4,31.0,6.859436,0.007034,3.6,1.617421,coffee
1,5108,663.73390,581.0,-4.7,30.9,5.603219,0.289643,4.2,2.532497,potato
2,3504,396.87990,1715.1,-6.1,31.7,5.774116,0.000409,2.6,1.262207,banana
3,5351,594.80370,1748.0,-4.3,33.6,6.477415,0.088777,7.9,4.351564,wheat
4,905,609.49800,1395.8,-4.5,31.3,5.419586,0.050023,10.8,5.034791,cassava

In [3]:
MD_Agric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Field_ID           1000 non-null   int64
 1   Elevation          1000 non-null   float64
 2   Rainfall           1000 non-null   float64
 3   Min_temperature_C  1000 non-null   float64
 4   Max_temperature_C  1000 non-null   float64
 5   pH                 1000 non-null   float64
 6   Pollution_level    1000 non-null   float64
 7   Plot_size          1000 non-null   float64
 8   Annual_yield       1000 non-null   float64
 9   Crop_type          1000 non-null   object
dtypes: float64(8), int64(1), object(1)
memory usage: 78.2+ KB

Write code to determine the number of unique crop types in the dataset?

In [11]:
len(MD_Agric_df['Crop_type'].unique())

8

Identify the maximum annual yield for "wheat" crop type in the dataset (rounded to 2 decimal places).

In [18]:
MD_Agric_df[MD_Agric_df['Crop_type'] =='wheat']['Annual_yield'].round(2).max()

8.99

Find the total rainfall for crop types where the average pollution level is above 0.2

In [21]:
MD_Agric_df[MD_Agric_df['Pollution_level'] > 0.2]['Rainfall'].sum()

478902.6

In [25]:
crop_ave_pl = MD_Agric_df.groupby(by=['Crop_type'])['Pollution_level'].mean()

In [45]:
crops_ab_threshold = [crop for crop in crop_ave_pl[crop_ave_pl>0.2].index]
type(crops_ab_threshold)
crops_ab_threshold

['cassava', 'coffee', 'maize', 'potato', 'tea', 'wheat']

In [48]:
MD_Agric_df[MD_Agric_df['Crop_type'] in crops_ab_threshold ]['Rainfall'].sum()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [49]:
total_rainfall = MD_Agric_df[MD_Agric_df['Crop_type'].isin(crops_ab_threshold)]['Rainfall'].sum()
print("Total rainfall for selected crop types:", total_rainfall)

Total rainfall for selected crop types: 941959.7

In [50]:
#Find the total rainfall for crop types where the average pollution level is above 0.2.
filtered_data = MD_Agric_df.groupby("Crop_type").filter(lambda x: x["Pollution_level"].mean() > 0.2)
total_rainfall = filtered_data["Rainfall"].sum()

Write a function to calculate the temperature range (Max_temperature_C - Min_temperature_C) for each farmer's field. Then, call the function with the following `Field_ID`: `1458`, `1895`, and `5443`. What are the results of these 3 calls?

In [51]:
def temp_range(df,fieldID):
    #Filter the Data
    df= df[df['Field_ID'] == fieldID]
    return df['Max_temperature_C'] - df['Min_temperature_C']

In [56]:
temp_range(MD_Agric_df, 1458).values.astype(float)

array([40.7])

In [57]:
[temp_range(MD_Agric_df,ID).values for ID in [1458, 1895, 5443]]

[array([40.7]), array([35.7]), array([33.4])]

What does the following code achieve?

a = data['Crop_type'].unique()

b = float('inf')

c = ''

for crop in a:

    d = data[data['Crop_type'] == crop]['Min_temperature_C'].mean()

    if d < b:

        b = d

        c = crop

print(c)

In [58]:
a = MD_Agric_df['Crop_type'].unique()

b = float('inf')

c = ''

for crop in a:

    d = MD_Agric_df[MD_Agric_df['Crop_type'] == crop]['Min_temperature_C'].mean()

    if d < b:

        b = d

        c = crop

print(c)

rice

In [59]:
MD_Agric_df[MD_Agric_df['Crop_type'] == crop]['Min_temperature_C'].mean()

-6.464583333333333

In [61]:
MD_Agric_df.groupby(by=['Crop_type'])['Min_temperature_C'].mean().sort_values()

Crop_type
rice      -6.464583
banana    -5.389320
wheat     -5.060656
potato    -4.570548
maize     -4.312195
coffee    -4.165657
cassava   -4.080142
tea       -2.885401
Name: Min_temperature_C, dtype: float64